.progress{
    --cui-progress-height: .4rem
}

.return-btn{
    background-color: rgb(37 99 235);
    color: white;
}

.return-btn:hover{
    color: white;

    background-color: rgb(29 78 216);
}

.dashboard-btn{
    background-color: rgb(107 114 128);
    color: white;
}

.dashboard-btn:hover{
    background-color:  rgb(55 65 81);
    color: white;
}