th {
  padding: 1rem 0.5rem !important;
}

td {
  padding: 1rem 0.5rem !important;
  word-break: break-all;
}

.d-inline {
  margin-left: 8px; /* Adjust the spacing between the div and the span */
}

.action {
  padding: auto;
}

.action .action-container .btn {
  padding: 0;
}

.action-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.spinner-grow {
  margin-top: 110px;
  width: 20px;
  height: 20px;
}
