.question-type-container{
    height: calc(100vh - 71px);
    width: 400px;
    position: fixed;
    background-color: #FFFFFF;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.question-bar-container{
    background-color: #F3F4F7;
    margin-right: 400px;
    padding: 2rem;
    width: calc(100vw - 400px);
    height: calc(100vh - 71px);
}

.add-parameter{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.add-parameter .btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}