.text-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    border: 1px solid #9CA3AF;
    padding: 1rem;
    border-radius: 5px;
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.action-btn{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    bottom: 60px;
    left: 60px;
}


.action-btn .confirm{
    background-color: #5046E5;
    color: #FFFFFF;
}

.action-btn .cancel{
    background-color: #5046E540;
    color: #5046E5;
}

.question .form-control{
    width: 50%;
}

.choices{
    width: calc(50% - 10px);
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}